{% extends 'base.html' %}

{% block title %}Browse Drugs{% endblock %}

{% block content %}
<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        box-sizing: border-box;
        width: calc(100% - 80px);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    td button {
        padding: 8px 16px;
        background-color: #1E88E5;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    td button:hover {
        background-color: #1761a2;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .add-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #1E88E5;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .add-button:hover {
        background-color: #1761a2;
    }

</style>

<div class="content">
    <div class="header-container">
        <h1>Browse Drugs</h1>
        <a href="/new-drug"><button class="add-button">Add New Drug</button></a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Company</th>
                <th>Type</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
            <tr>
                <td>{{ drug.name }}</td>
                <td>{{ drug.company }}</td>
                <td>{{ drug.type }}</td>
                <td>{{ drug.stock }}</td>
                <td>
                    <a href="/edit-drug/{{ drugs.index(drug) }}"><button>Edit</button></a>
                    <a href="/delete-drug/{{ drugs.index(drug) }}"><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
