{% extends 'base.html' %}

{% block title %}Browse Drugs{% endblock %}

{% block content %}
<section>
    <div class="header-container">
        <hr>
        <h1>Browse Drugs</h1>
        <hr>
        <a href="/new-drug"><button class="add-button">+ New Drug</button></a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Company</th>
                <th>Type</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
            <tr>
                <td>{{ drug.name }}</td>
                <td>{{ drug.company }}</td>
                <td>{{ drug.type }}</td>
                <td>{{ drug.stock }}</td>
                <td class="actions">
                    <a href="/drug-edit/{{ drug['_id'] }}"><button>Edit</button></a>
                    <a href="/delete-drug/{{ drug['_id'] }}"><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block styles %}
{% endblock %}