{% extends 'base.html' %}

{% block title %}Delete Order{% endblock %}

{% block content %}

<section>
    <h1>Delete Order</h1>
    <p>Are you sure you would like to delete the order for: {{ order.name }}?</p>
    <form method="POST">

        <div>
            <input type="submit" name="delete" class="add-button" value="Yes"></input>
            <input type="submit" name="delete" class="add-button" value="No"></input>
        </div>
    </form>
</section>
{% endblock %}

{% block styles %}
{% endblock %}