{% extends 'base.html' %}

{% block title %} Test Page Title {% endblock %}

{% block content %}
<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        box-sizing: border-box;
        width: calc(100% - 80px);
    }
</style>
<section>
    <h1>Edit Drug Information</h1>
    <form method="POST">
        <div class="form-line">
            <label for="name">Product Name:</label>
            <input type="text" class="text-entry" id="name" name="name" value="{{ drug.name }}">
        </div>

        <div class="form-line">
            <label for="company">Company:</label>
            <input type="text" class="text-entry" id="company" name="company" value="{{ drug.company }}">
        </div>

        <div class="form-line">
            <label for="type">Type:</label>
            <select id="type" class="form-selector" name="type">
                <option value="Prescription" {% if drug.type=='Prescription' %}selected{% endif %}>Prescription</option>
                <option value="Over the Counter" {% if drug.type=='Over the Counter' %}selected{% endif %}>Over the
                    Counter</option>
            </select>
        </div>

        <div class="form-line">
            <label for="description">Description:</label>
            <textarea name="description" class="description" id="">{{ drug.description }}</textarea>
        </div>

        <div class="form-line">
            <label for="stock">Stock:</label>
            <input type="number" class="stock" id="stock" name="stock" value="{{ drug.stock }}">
        </div>

        <input type="submit" class="add-button" value="Update">
    </form>
</section>
{% endblock %}

{% block styles %}
<style>
    p {
        color: white;
    }
</style>
{% endblock %}