{% extends 'base.html' %}

{% block title %} Drug Information {% endblock %}

<!-- Inside of <main> -->
{% block content %}
<section>
    <div class="header-container">
        <hr>
        <h1>Drug Information</h1>
        <hr>
        

    </div>
    <div id="management-row">
        <input type="text" name="" class="text-entry" id="search-box" placeholder="Search drug by name here">
        <a href="/new-drug?from=info"><button class="add-button">+ New Drug</button></a>
    </div>

    <div id="info-section">
        {% for drug in drugs %}
            <details class="drug" data-name="{{ drug.name }}">
                <summary>
                    {{ drug.name }}
                    <div>
                        <a href="/drug-edit/{{ drug._id }}?from=info"><button class="add-button">Edit</button></a>
                        <span class="triangle"></span>
                    </div>
                </summary>
                <p>{{ drug.description }}</p>
            </details>
        {% endfor %}
        </div> 
    
    <script>
        document.getElementById('search-box').addEventListener('input', function() {
            const filter = this.value.toLowerCase();

            fetch(`/drug-search?q=${encodeURIComponent(filter)}`, {method: 'GET'})
            .then((response) => response.json())  // parse the Response to JSON and return result
            .then((filteredDrugs) => {
                const drugItems = document.querySelectorAll('.drug');
                drugItems.forEach((item) => {
                    const drugName = item.getAttribute('data-name').toLowerCase();
                    if (filteredDrugs.includes(drugName)) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
    </script>
</section>
{% endblock %}

{% block styles %}
    <style>
        #info-section {
            margin-top: 5vh;
            padding: 1vh 5vw;
        }

        summary {
            display: flex;
            justify-content: space-between;
            list-style: none;
            cursor: pointer;
        }

        /* Rotate when open */
        details[open] .triangle {
            transform: rotate(180deg); 
        }

        main button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #1E88E5;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            cursor: pointer;
        }
        
    </style>
{% endblock %}