{% extends 'base.html' %}

{% block title %} Test Page Title {% endblock %}

{% block content %}
<section>
    <h1>Add New Drug</h1>
    <form method="POST">
        <div class="form-line">
            <label for="name">Product Name:</label>
            <input class="text-entry" type="text" id="name" name="name" required>
        </div>

        <div class="form-line">
            <label for="company">Company:</label>
            <input type="text" class="text-entry" id="company" name="company" required>
        </div>

        <div class="form-line">
            <label for="type">Type:</label>
            <select id="type" name="type" class="form-selector">
                <option value="Prescription">Prescription</option>
                <option value="Over the Counter">Over the Counter</option>
            </select>
        </div>

        <div class="form-line">
            <label for="stock">Stock:</label>
            <input type="number" class="stock" id="stock" name="stock" required>
        </div>

        <div class="form-line">
            <label for="description">Description:</label>
            <textarea name="description" id="" class="description" required></textarea>
        </div>
        <input type="submit" class="add-button" value="Add Drug">
    </form>
</section>
{% endblock %}

{% block styles %}
<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        box-sizing: border-box;
        width: calc(100% - 80px);
    }
</style>
{% endblock %}