body {
    margin: 0;
    display: flex;
    /* width: 100%; */
}

main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #0505051F 0%,   /* Black (#050505) with 12% opacity */
        #666666 100%    /* Gray (#666666) with full opacity */
    );

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

h1 {
    color: #3371EB;
    text-shadow: 3px 3px 6px #3371EB;
}